{
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "lf",
  "arrowParens": "avoid",
  "quoteProps": "preserve",
  "overrides": [
    {
      "files": [".lintstagedrc", ".prettierrc", "*.code-workspace"],
      "options": { "parser": "json" }
    }
  ]
}
